.about__container {
    margin-bottom: 53px;
    position: relative;
}
.about::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 489px;
    height: 505px;
    background: url('../img/about-us.png');
    border-radius: 5px;
}
.about__content {
    display: inline-block;
    margin-left: -137px;
    margin-top: 97px;
}
.about__desc {
    vertical-align: top;
    border-radius: 5px;
    width: 785px;
    min-height: 455px;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    padding: 81px 202px 64px 75px;
}

.about__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}
.about__text {
    max-width: 502px;
    line-height: 1.7em;
    margin-bottom: 43px;
}
