.footer__container {
    padding-bottom: 57px;
}
.footer .menu__item {
    margin-right: 69px;
}
.footer .menu__item:last-of-type {
    margin-right: 0;
}
.footer__hr {
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0.1;
    margin-bottom: 38px;
}
.footer .logo {
    margin: 0px 120px 0px 0px;
}
.footer .menu {
    margin: 0px 102px 0px 0px;
}
.footer .social {
    margin: 0px 70px 0px 0px;
}