.header {
    padding-top: 26px ;
}
.header__container {
    position: relative;
    min-height: 41px;
}
.header__container > .contact {
    position: absolute;
    right: 0;
}
.header .menu {
    margin-left: 260px;
}
.header__container  .menu__item {
    margin-right: 60px;
}
.header__container .menu__item:last-of-type {
    margin-right: 0px;
}
