.hello__container {
    max-width: 637px;
    margin-top: 134px;
    margin-bottom: 215px;
}
.hello__title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1em;
    margin-bottom: 21px;
}
.hello__subtitle {
    margin-bottom: calc(18px + 76px);
    font-size: 21px;
}
