.hero__content {
    max-width: 637px;
    margin-top: 134px;
    margin-bottom: 200px;
}
.hero__title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1em;
    margin-bottom: 21px;
}
.hero__subtitle {
    margin-bottom: 76px;
    font-size: 21px;
}