.newest__container {
    margin-bottom: 135px;
}
.newest__list {
    display: inline-block;
}
.newest__item {
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
    max-width: 362px;
    margin-right: 23px;
}
.newest__item:last-of-type {
    margin-right: 0;
}
.newest__pic {
    border-radius: 5px 5px 0px 0px;
}
.newest__content {
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    padding: 33px 34px 44px 22px;
}
.newest__subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}
.newest__metas {
    margin-bottom: 23px;
}
.newest__meta-text, .newest__meta-text--clock::before, .newest__meta-text--qa::before {
    display: inline-block;
    vertical-align: middle;
}
.newest__meta {
    margin-right: 54px;
}
.newest__meta:last-of-type {
    margin-right: 0;
}
.newest__meta-text--clock::before {
    content: url('../icons/clock.png');
    margin-right: 10px;
}
.newest__meta-text--qa::before {
    content: url('../icons/qa.png');
    margin-right: 10px;
}
.newest__desc {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: calc(25px + 14px);
}
