extends ./pug/pattern.pug

append links
    link(rel="stylesheet" href="./style/main.css")

append before-main
    -title = 'Интеллектуальный вечер для шумной компании'
    section.hero: .container.hero__container
        include ./pug/header.pug
        .hero__content
            h1.hero__title #{title}
            h4.hero__subtitle Игры на любой вкус
            a.button(href="#") Подробнее
append content
    include ./pug/newest.pug
    include ./pug/completed.pug
    include ./pug/about-us.pug