section.completed: .container.completed__container
    h2.title Прошедшие игры
    ul.completed__list 
        li.completed__item
            .completed__content
                .completed__meta 1 января
                h3.completed__title Новогодний квиз
                .completed__desc.
                    Успевайте забронировать даты. Пока еще есть места на декабрь. Удачи и всех благ!
        li.completed__item
            .completed__content
                .completed__meta 8 марта
                h3.completed__title Весенняя игра
                .completed__desc.
                    Успевайте забронировать даты. Пока еще есть места на март. Удачи и всех благ!
    
    include ./paginator.pug