include menu.pug
footer.footer: .container.footer__container
    +navigation([
            {
                'type': 'logo',
                'values' : ['#','./img/logo.png']
            },
            {
                'type': 'menu',
                'values' : [['Главная','#'],['Игры','#'],['Отзывы','#']]
            },
            {
                'type': 'social',
                'values' : [['#','../icons/telegram.png','Иконка телеграма'],['#','../icons/vk.png','Иконка вконтакте'],['#','../icons/f.png','Иконка facebook'],['#','../icons/in.png','Иконка instagramm']]
            }])
    address.contact
        .contact__info Бесплатный звонок по России
        a.contact__number(href="tel:88007003030") 8 800 700 30 30