include menu.pug
header.header: .container.header__container
    +navigation([
        {
            'type': 'logo',
            'values' : ['#','./img/logo.png']
        },
        {
            'type': 'menu',
            'values' : [['Главная','#'],['Игры','#'],['Отзывы','#']]
        }])
    address.contact
        a.contact__number(href="tel:88007003030") 8 800 700 30 30
        .contact__dropdown График работы: