section.newest: .container.newest__container
    h2.title.title--icon Новинки недели
    ul.newest__list
        li.newest__item
            img.newest__thumb(src="./img/music-quiz.png" alt='Миниатюра музыкальной игры')
            .newest__content
                h3.newest__title Музыкальная игра
                ul.newest__metas 
                    li.newest__meta.newest__meta--time 90 минут
                    li.newest__meta.newest__meta--qa 70 вопросов
                .newest__desc.
                    Равным образом постоянное обеспечение нашей деятельности позволяет оценить значение систем массового участия.
                a.button.button--empty(href="#") Смотреть
        li.newest__item
            img.newest__thumb(src="./img/back-to-the-future.png" alt='Миниатюра назад в 90-е')
            .newest__content
                h3.newest__title Назад в 90-е
                ul.newest__metas 
                    li.newest__meta.newest__meta--time 90 минут
                    li.newest__meta.newest__meta--qa 70 вопросов
                .newest__desc.
                    Равным образом постоянное обеспечение нашей деятельности позволяет оценить значение систем массового участия.
                a.button.button--empty(href="#") Смотреть
        li.newest__item
            img.newest__thumb(src="./img/quiz-it.png" alt='Миниатюра IT-викторина')
            .newest__content
                h3.newest__title IT-викторина
                ul.newest__metas 
                    li.newest__meta.newest__meta--time 90 минут
                    li.newest__meta.newest__meta--qa 70 вопросов
                .newest__desc.
                    Равным образом постоянное обеспечение нашей деятельности позволяет оценить значение систем массового участия.
                a.button.button--empty(href="#") Смотреть