.completed {
    margin-bottom: 242px;
}

.completed__list {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 53px;
}
.completed__item {
    position: relative;
    z-index: 5;
    min-height: 394px;
    flex-basis: calc(100% / 2 - 1%);
    border-radius: 5px;
}
.completed__img {
    display: block;
    position: absolute;
    z-index: 3;
    width: 100%;
}
.completed__content {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 84px 28px 30px;
}

.completed__meta {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.completed__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 4px;
}
.completed__desc {
    line-height: 1.3em;
}
