.games {
    min-height: 980px;
    background-color: #fff;
    color: black;
    padding-top: 98px;
    padding-bottom: 86px;
}
.games__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}
.games__item {
    min-height: 333px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
}
.games__item:last-of-type {
    margin-bottom: 0;
}
.games__pic {
    max-width: 40%;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-right: 56px;
}
.games__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.games__title {
    font-size: 36px;
    font-weight: bold;
}
.games__desc p {
    line-height: 1.69em;
    color: #303030;
}
