.about {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 55px;
}
.about__container {
    position: relative;
    max-width: 785px;
    width: 100%;
    min-height: 455px;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    border-radius: 5px;
}
.about__container::before {
    content: '';
    width: 489px;
    height: 505px;
    background: url('../../img/main/about-us.png');
    border-radius: 5px;
    position: absolute;
    left: -353px;
    top: -97px;
    z-index: -1;
}

.about__content {
    padding: 85px 78px 60px;
}
.about__desc {
    max-width: 502px;
    line-height: 1.7em;
    margin-bottom: 40px;
}
